.booking-section {
  background-color: #fff; /* Light background for contrast */
  padding: 100px 20px;
  text-align: center;
}

.booking-section h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.booking-intro {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  padding: 0 15px;
}

.booking-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}

.btn-booking, .btn-pdf {
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.btn-booking {
  background-color: #164ce2;
  color: white;
}

.btn-pdf {
  background-color:#091f5c ; /* #28a745 */
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .booking-container {
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Smaller space between buttons */
  }

  .booking-intro {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .booking-section h2 {
    font-size: 2rem; /* Smaller h2 size */
  }

  .btn-booking, .btn-pdf {
    font-size: 14px;
  }

  .booking-intro {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}
